/* Write all the code related to the table here  */



h1{
    text-align: center;
    margin-top: 30px;
}
body{
   text-align: center;
}

#filter{
    margin-top: 30px;
    background-color: white;

}

select,textarea{
    width: 20%;
    padding: 12px;
    border: 1px solid black;
    margin-top: 6px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: grey;
    font-size:15px;
}

option{
    background-color: gray;
}

table{
    width: 60%;
    margin: auto;
    margin-top: 60px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    text-align: center;
    border-collapse: collapse;

}

table th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: gold;
}

table td,table th{
    border: 1px solid ;
    padding: 8px;
}